# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\study-project\java-other\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
